---
import '../styles/global.css';
---

<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Archive | The Idiot Box | The Yak Emperor</title>
      <link href="/src/styles/global.css" rel="stylesheet" type="text/css" media="all">
   </head>
   <body class="scroll">
      <div id="container">
         <div id="header">
            <h1 class="title">The Yak Emperor</h1>
         </div>
         <div class="navbar">
            <ul>
               <li><a href="/">HOME poo</a></li>
               <li>
                  <a href="/bashfultv">📺 THE IDIOT BOX 📺</a>
                  <ul class="subitems">
                     <li><a href="#">Subitem</a></li>
                     <li><a href="#">Subitem</a></li>
                     <li><a href="#">Subitem</a></li>
                  </ul>
               <li>
                  <a href="/music-stuff">MUSIC</a>
                  <ul class="subitems">
                     <li><a href="#">Subitem</a></li>
                     <li><a href="#">Subitem</a></li>
                     <li><a href="#">Subitem</a></li>
                  </ul>
               <li>
                  <a href="/about">ABOUT</a>
               <li>
                  <a href="/contact">CONTACT</a>
            </ul>
         </div>
         <div class="wrapper">
            <div id="left-sidebar">
               <div class="content">
                  <img src="/src/Images/oldladyrocking.gif" style="width:100px;height:auto;" class="center">
                  <h3 style="margin-bottom:5px;">Music</h3>
                  <ul class="nobullets" style="font-size:12px;">
                    <li><a href="/music-stuff/pub/90s-2000s-rarities">90s/2000s Rarities</a></li>
                    <li><a href="/music-stuff/pub/classic-grime">Classic Grime Review</a></li>
                    <li><a href="/music-stuff/pub/happy-hardcore">Happy Hardcore</a></li>
                    <li><a href="/music-stuff/pub/novelty-deep-cuts">Novelty Deep Cuts</a></li>
                    <li><a href="/music-stuff/pub/solid-gold-chartbusters">Solid Gold Chartbusters</a></li>
                      <ul style="margin-left:0;">
                        <li><a href=/music-stuff/pub/solid-gold-chartbusters/the-works>SGC: The Works</a></li>
                      </ul>
                    <li><b>Monthly publications:</b>
                      <ul style="margin-left:0;">
                        <li><a href="/music-stuff/pub/acid-april">Acid April</a></li>
                        <li><a href="/music-stuff/pub/novelty-november">Novelty November</a></li>
                      </ul>
                    </li>
                    <li><a href="/music-stuff/pub/bargain-street">Bargain Street</a></li>
                    <li><a href="/music-stuff/pub/hauls">Hauls</a></li>
                    <li><a href="/music-stuff/pub">View all publications</a></li>
                  </ul>
                  <h3 style="margin-bottom:5px;">The Idiot Box</h3>
                  <ul class="nobullets" style="font-size:12px;">
                    <li>Early 2000s deep cuts</li>
                    <li>Reality crap</li>
                    <li><a href="/bashfultv/standup-tapes">Standup tapes</a></li>
                    <li>Oldies</li>
                    <li><i><b>Archive</b></i></li>
                  </ul>
               </div>
            </div>
            <div class="main-content">
               <div class="content">
                  <h1>The Idiot Box — Archive</h1>
                  <hr>
                  <h3 style="font-size:24px;font-family: 'Press Start';text-align:center;color:white;text-shadow: 2px 2px 2px #b702cf;">What a load of old shit!</h3>
                  <img src="/src/Images/nan.jpg" style="width:500px;height:auto;" class="center">
                  <h3 style="font-size:30px;font-family: Comic Sans MS;text-align:center;color:#ffea00;text-shadow: 2px 1.5px 0 red;">Nan's Archive</h3>
                  <hr>
                  <h3>Letterboxd Reviews</h3>
                  <p><a href="letterboxd-archive/2024">2024</a></p>
               </div>
            </div>
            <div id="right-sidebar">
              <div class="content">
                <h2 style="padding-bottom:10px;text-align:center;">Latest Posts</h2>
                <img src="/src/Images/computers.jpg" style="width:176px;height:auto;" class="center">
                <h3 style="margin:0;margin-top:5px;">Solid Gold Chartbusters #3 — Jedward</h3>
                <p style="margin-top:0;margin-bottom:0;padding-top:5px;padding-bottom:0;font-size:12px;">Bitch Jenkins is on the scene to report the cyber-travesty as metal men make their way...</p>
                <p style="color:#757575;margin-top:0;font-size:12px;padding-top:3px;padding-bottom:5px;"> Fri 13 May 2009</p>
                <img src="/src/Images/flyover.jpg" style="width:176px;height:auto;" class="center">
                <h3 style="margin:0;margin-top:5px;">Water slide boom</h3>
                <p style="margin-top:0;margin-bottom:0;padding-top:5px;padding-bottom:0;font-size:12px;">The bright red, demonic-looking jet flume has terrified intrepid park-goers...</p>
                <p style="color:#757575;margin-top:0;font-size:12px;padding-top:3px;padding-bottom:0;"> Wed 10 Aug 2024</p>
              </div>
            </div>
          </div>
          <br/>
          <br/>
          <br/>
          <img src="/src/Images/computers.jpg" style="width:176px;height:auto;" class="center">
          <h3 style="margin:0;margin-top:5px;">Solid Gold Chartbusters #3 — Jedward</h3>
          <p style="margin-top:0;margin-bottom:0;padding-top:5px;padding-bottom:0;font-size:12px;">Bitch Jenkins is on the scene to report the cyber-travesty as metal men make their way...</p>
          <p style="margin-top:0;font-size:12px;padding-top:3px;color:#757575;padding-bottom:5px;"> Fri 13 May 2009</p>
      </div>
      <div id="footer">
         <p>Kill yourself</p>
      </div>
   </body>
</html>