---
import '/src/styles/global.css';
---

<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Red Road | Archive | The Idiot Box | The Yak Emperor</title>
      <link href="/src/style.css" rel="stylesheet" type="text/css" media="all">
   </head>
   <body class="scroll">
      <div id="container">
         <div id="header">
            <h1 class="title">The Yak Emperor</h1>
         </div>
         <div class="navbar">
            <ul>
               <li><a href="/">HOME</a></li>
               <li>
                  <a href="/bashfultv">📺 THE IDIOT BOX 📺</a>
                  <ul class="subitems">
                     <li><a href="#">Subitem</a></li>
                     <li><a href="#">Subitem</a></li>
                     <li><a href="#">Subitem</a></li>
                  </ul>
               <li>
                  <a href="/music-stuff">MUSIC</a>
                  <ul class="subitems">
                     <li><a href="#">Subitem</a></li>
                     <li><a href="#">Subitem</a></li>
                     <li><a href="#">Subitem</a></li>
                  </ul>
               <li>
                  <a href="/about">ABOUT</a>
               <li>
                  <a href="/contact">CONTACT</a>
            </ul>
         </div>
         <div class="wrapper">
            <div id="left-sidebar">
               <div class="content">
                  <img src="/src/Images/oldladyrocking.gif" style="width:100px;height:auto;" class="center">
                  <h3 style="margin-bottom:5px;">Music</h3>
                  <ul class="nobullets" style="font-size:12px;">
                    <li><a href="/music-stuff/pub/90s-2000s-rarities">90s/2000s Rarities</a></li>
                    <li><a href="/music-stuff/pub/classic-grime">Classic Grime Review</a></li>
                    <li><a href="/music-stuff/pub/happy-hardcore">Happy Hardcore</a></li>
                    <li><a href="/music-stuff/pub/novelty-deep-cuts">Novelty Deep Cuts</a></li>
                    <li><a href="/music-stuff/pub/solid-gold-chartbusters">Solid Gold Chartbusters</a></li>
                      <ul style="margin-left:0;">
                        <li><a href=/music-stuff/pub/solid-gold-chartbusters/the-works>SGC: The Works</a></li>
                      </ul>
                    <li><b>Monthly publications:</b>
                      <ul style="margin-left:0;">
                        <li><a href="/music-stuff/pub/acid-april">Acid April</a></li>
                        <li><a href="/music-stuff/pub/novelty-november">Novelty November</a></li>
                      </ul>
                    </li>
                    <li><a href="/music-stuff/pub/bargain-street">Bargain Street</a></li>
                    <li><a href="/music-stuff/pub/hauls">Hauls</a></li>
                    <li><a href="/music-stuff/pub">View all publications</a></li>
                  </ul>
                  <h3 style="margin-bottom:5px;">The Idiot Box</h3>
                  <ul class="nobullets" style="font-size:12px;">
                    <li>Early 2000s deep cuts</li>
                    <li>Reality crap</li>
                    <li><a href="/bashfultv/standup-tapes">Standup tapes</a></li>
                    <li>Oldies</li>
                    <li><a href="/bashfultv/archive">Archive</a></li>
                  </ul>
               </div>
            </div>
            <div class="main-content">
               <div class="content">
                  <h1>Letterboxd Archive</h1>
                  <hr>
                  <img src="/src/Images/redroad.jpg" style="width:150px;height:auto;float:left;padding-right:10px;">
                  <h3 style="padding-bottom:0;">Red Road (2006)</h3>
                  <p style="color:grey;">Reviewed 1 May 2024</p>
                  <p>You know, this brought back old memories of being in film school, where they'd put us in front of films about dumpy women who couldn't afford their groceries and we'd have to sit there and pretend it was profound. Regardless, I'm willing to set aside past grievances for the sake of this review, and considering it's been a while since I've figuratively bin-dipped from the vast and murky sea of social realism, this little gem centring on a Glasgow high-rise building and its surveillance complex seemed right up my alley, though I have admittedly seen it before. On first watch, I was quite taken with the humdrum setting and what seemed to be a script that had its wits about it, but on a second viewing, its flaws are stark and obvious.</p>
                  <p>The CCTV angle is underbaked, to say the least. It serves as a means for Jackie, our dowdy Scots protagonist, to become re-entangled with a man she knows from her past. And that's it, really. There isn't a clever spin on it, there isn't any thoughtful commentary on the prevalence of surveillance systems in the UK; it only exists as a plot device, a way to move the story forward, which is very disappointing.</p>
                  <p>The performances are fine, the cinematography is lush and gorgeous, the locations really feel lived-in, and the whole vibe of the film is beautifully rough around the edges. This is a rare case where I think the Dogme 95 constraints really aided the production.</p>
                  <p>The ending partakes of what I like to call the "Great British Anticlimax", a peculiarity of our narrative mode that dates back centuries, if you look for it. One of the most notable and renowned anticlimaxes occurs in the closing act of <i>Monty Python and the Holy Grail</i>. The only problem here is that I don't think it was intentional. I won't spoil the surprise, but the reveal of what exactly sparks Jackie's voyeurism completely flattens the mystery, so on this rewatch I was totally unenthralled.</p>
                  <p>The only people I can see this really appealing to are slum-divers, grunge-loving aesthetes who push for the fetishisation of working-class angst. And I've been there, I know what it's like. I've spent hours wistfully gazing from my window at the far-off tower-blocks and wondering what that sort of life must be like. It's an odd sort of a jealousy, a pang of discontentment with the overbearing comfort of middle-class living. But this portrait of council-flat life feels a bit voyeuristic itself, an exhibition of impoverished curiosities to be projected on pristine monitors in the cockpits of ivory towers all over the country for half-indifferent viewers who don't know any better to chirrup about how "down to earth" and "relatable" it is. I don't know whether this is symptomatic of a general cultural malaise or something a bit more insidious; on the extreme end, it comes across as a sort of furtive iconoclasm which eschews the dutiful and venerates reprobates. Gone are the colliers and labourers of 'Grim Up North' films of old, replaced by arrogant council-housers and suburban underdogs whose plights seem to be entirely of their own making.</p>
                  <p>The copy I watched had a "BBC Scotland" watermark in the top-left corner, which seemed very appropriate. It has the feel of a dour BBC drama stretched to feature-length. Andrea Arnold is a fine director, but this is a sophomoric effort at best.</p>
                  <p>⭐ 5/10</p>
               </div>
            </div>
            <div id="right-sidebar">
              <div class="content">
                <h2 style="padding-bottom:10px;text-align:center;">Latest Posts</h2>
                <img src="/src/Images/computers.jpg" style="width:176px;height:auto;" class="center">
                <h3 style="margin:0;margin-top:5px;">Solid Gold Chartbusters #3 — Jedward</h3>
                <p style="margin-top:0;margin-bottom:0;padding-top:5px;padding-bottom:0;font-size:12px;">Bitch Jenkins is on the scene to report the cyber-travesty as metal men make their way...</p>
                <p style="color:#757575;margin-top:0;font-size:12px;padding-top:3px;padding-bottom:5px;"> Fri 13 May 2009</p>
                <img src="/src/Images/flyover.jpg" style="width:176px;height:auto;" class="center">
                <h3 style="margin:0;margin-top:5px;">Water slide boom</h3>
                <p style="margin-top:0;margin-bottom:0;padding-top:5px;padding-bottom:0;font-size:12px;">The bright red, demonic-looking jet flume has terrified intrepid park-goers...</p>
                <p style="color:#757575;margin-top:0;font-size:12px;padding-top:3px;padding-bottom:0;"> Wed 10 Aug 2024</p>
              </div>
            </div>
          </div>
          <br/>
          <br/>
          <br/>
          <img src="/src/Images/computers.jpg" style="width:176px;height:auto;" class="center">
          <h3 style="margin:0;margin-top:5px;">Solid Gold Chartbusters #3 — Jedward</h3>
          <p style="margin-top:0;margin-bottom:0;padding-top:5px;padding-bottom:0;font-size:12px;">Bitch Jenkins is on the scene to report the cyber-travesty as metal men make their way...</p>
          <p style="margin-top:0;font-size:12px;padding-top:3px;color:#757575;padding-bottom:5px;"> Fri 13 May 2009</p>
      </div>
      <div id="footer">
         <p>Kill yourself</p>
      </div>
   </body>
</html>