<!DOCTYPE html>
<html>
  <head>
    <style>
        body {
            background-image: url('/src/Images/poof.png');
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
  </head>
  <body>
    <p>Bad luck bitch</p>
  </body>
</html>