---
import BaseLayoutArchive from "../layouts/BaseLayoutArchive.astro";
const pageTitle="Contact";
---
<BaseLayoutArchive title={pageTitle}>
    <p>Email: haroldjamesworld@gmail.com</p>
</BaseLayoutArchive>