---
import BaseLayoutArchive from "../layouts/BaseLayoutArchive.astro";
const pageTitle="Contact";
---
<BaseLayoutArchive title={pageTitle}>
    <p><a href="mailto: haroldjamesworld@gmail.com">Email: haroldjamesworld@gmail.com</a></p>
</BaseLayoutArchive>