---
import BaseLayoutArchive from "../layouts/BaseLayoutArchive.astro";
const pageTitle="Contact";
---
<BaseLayoutArchive title={pageTitle}>
    <p>Email: <a href="mailto: haroldjamesworld@gmail.com">haroldjamesworld@gmail.com</a></p>
</BaseLayoutArchive>