---
import '/src/styles/global.css';
---

<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>The Harry Hill Movie | Archive | The Idiot Box | The Yak Emperor</title>
      <link href="/src/style.css" rel="stylesheet" type="text/css" media="all">
   </head>
   <body class="scroll">
      <div id="container">
         <div id="header">
            <h1 class="title">The Yak Emperor</h1>
         </div>
         <div class="navbar">
            <ul>
               <li><a href="/">HOME</a></li>
               <li>
                  <a href="/bashfultv">📺 THE IDIOT BOX 📺</a>
                  <ul class="subitems">
                     <li><a href="#">Subitem</a></li>
                     <li><a href="#">Subitem</a></li>
                     <li><a href="#">Subitem</a></li>
                  </ul>
               <li>
                  <a href="/music-stuff">MUSIC</a>
                  <ul class="subitems">
                     <li><a href="#">Subitem</a></li>
                     <li><a href="#">Subitem</a></li>
                     <li><a href="#">Subitem</a></li>
                  </ul>
               <li>
                  <a href="/about">ABOUT</a>
               <li>
                  <a href="/contact">CONTACT</a>
            </ul>
         </div>
         <div class="wrapper">
            <div id="left-sidebar">
               <div class="content">
                  <img src="/src/Images/oldladyrocking.gif" style="width:100px;height:auto;" class="center">
                  <h3 style="margin-bottom:5px;">Music</h3>
                  <ul class="nobullets" style="font-size:12px;">
                    <li><a href="/music-stuff/pub/90s-2000s-rarities">90s/2000s Rarities</a></li>
                    <li><a href="/music-stuff/pub/classic-grime">Classic Grime Review</a></li>
                    <li><a href="/music-stuff/pub/happy-hardcore">Happy Hardcore</a></li>
                    <li><a href="/music-stuff/pub/novelty-deep-cuts">Novelty Deep Cuts</a></li>
                    <li><a href="/music-stuff/pub/solid-gold-chartbusters">Solid Gold Chartbusters</a></li>
                      <ul style="margin-left:0;">
                        <li><a href=/music-stuff/pub/solid-gold-chartbusters/the-works>SGC: The Works</a></li>
                      </ul>
                    <li><b>Monthly publications:</b>
                      <ul style="margin-left:0;">
                        <li><a href="/music-stuff/pub/acid-april">Acid April</a></li>
                        <li><a href="/music-stuff/pub/novelty-november">Novelty November</a></li>
                      </ul>
                    </li>
                    <li><a href="/music-stuff/pub/bargain-street">Bargain Street</a></li>
                    <li><a href="/music-stuff/pub/hauls">Hauls</a></li>
                    <li><a href="/music-stuff/pub">View all publications</a></li>
                  </ul>
                  <h3 style="margin-bottom:5px;">The Idiot Box</h3>
                  <ul class="nobullets" style="font-size:12px;">
                    <li>Early 2000s deep cuts</li>
                    <li>Reality crap</li>
                    <li><a href="/bashfultv/standup-tapes">Standup tapes</a></li>
                    <li>Oldies</li>
                    <li><a href="/bashfultv/archive">Archive</a></li>
                  </ul>
               </div>
            </div>
            <div class="main-content">
               <div class="content">
                  <h1>Letterboxd Archive</h1>
                  <hr>
                  <img src="/src/Images/harryhill.jpg" style="width:150px;height:auto;float:left;padding-right:10px;">
                  <h3 style="padding-bottom:0;">The Harry Hill Movie (2013)</h3>
                  <p style="color:grey;">Reviewed 27 Apr 2024</p>
                  <p>I saw this a few years ago but I found myself bored on a drizzly Saturday afternoon and thought I'd give it another spin. And wow, I was actually pleasantly surprised. For one, the colour palette is gorgeous; they even somehow managed to get ahold of a suburban street and paint all the housefronts in these lurid, psychedelic colours. The musical numbers are pleasant enough and don't overstay their welcome. There are lots of obviously filled-in bits like the "Dachshund Five", the race of shell people that Harry ends up marrying into, the Godzilla segment with Jim Broadbent in drag, and even the stuff with Matt Lucas as evil twin Otto feels like a last-minute addition that was made when the writers realised they didn't have much of a plot on their hands; and what plot does exist is very thin on the ground to say the least. The film mostly consists of loosely connected vignettes as Harry and his nan (Julie Walters) make their way across the country on a surreal road trip to Blackpool accompanied by their sock-puppet hamster Abu, voiced by a punch-drunk Johnny Vegas. The actual comedy value varies from scene to scene, but there are enough titillating zingers to keep the adults' heads above the water while the kids laugh at Harry gurning and gallumphing around dauntlessly between exciting set-pieces. Some of the jokes fall flat, like the French fox who is a master of disguise, and a gratuitous scene involving chickens operating gatling guns and throwing grenades, but really for just under an hour and a half of fun, it's little to complain about. I think what really sells this film to me is how much everyone is clearly having a blast making it. It's not like <i>The Nan Movie</i> (2022) where you can tell that no one wanted to be there, not even Catherine Tate herself. This feels a lot less exploitative, desperate and pandering in comparison; there was clearly passion and a vision behind this, despite the "cheap as chips" approach it was always going to end up taking.</p>
                  <p>In terms of influences, it has the vibe of Monty Python crossed with a late-stage Carry On film, which of course means it has its questionable moments. There are a few crossdressing jokes that would simply not fly nowadays, as well as some borderline inappropriate sex references (nan complaining about "curlies" in the bed and a scene where two characters are implied to be getting it on under the covers) that push that "PG" rating to its very limit. But really it is a completely harmless movie that will endeavour its best to brighten up your overcast afternoons.</p>
                  <p>Thus concludes what is probably the longest stream of text anyone has ever typed up about this movie.</p>
                  <p>⭐ 5/10</p>
               </div>
            </div>
            <div id="right-sidebar">
              <div class="content">
                <h2 style="padding-bottom:10px;text-align:center;">Latest Posts</h2>
                <img src="/src/Images/computers.jpg" style="width:176px;height:auto;" class="center">
                <h3 style="margin:0;margin-top:5px;">Solid Gold Chartbusters #3 — Jedward</h3>
                <p style="margin-top:0;margin-bottom:0;padding-top:5px;padding-bottom:0;font-size:12px;">Bitch Jenkins is on the scene to report the cyber-travesty as metal men make their way...</p>
                <p style="color:#757575;margin-top:0;font-size:12px;padding-top:3px;padding-bottom:5px;"> Fri 13 May 2009</p>
                <img src="/src/Images/flyover.jpg" style="width:176px;height:auto;" class="center">
                <h3 style="margin:0;margin-top:5px;">Water slide boom</h3>
                <p style="margin-top:0;margin-bottom:0;padding-top:5px;padding-bottom:0;font-size:12px;">The bright red, demonic-looking jet flume has terrified intrepid park-goers...</p>
                <p style="color:#757575;margin-top:0;font-size:12px;padding-top:3px;padding-bottom:0;"> Wed 10 Aug 2024</p>
              </div>
            </div>
          </div>
          <br/>
          <br/>
          <br/>
          <img src="/src/Images/computers.jpg" style="width:176px;height:auto;" class="center">
          <h3 style="margin:0;margin-top:5px;">Solid Gold Chartbusters #3 — Jedward</h3>
          <p style="margin-top:0;margin-bottom:0;padding-top:5px;padding-bottom:0;font-size:12px;">Bitch Jenkins is on the scene to report the cyber-travesty as metal men make their way...</p>
          <p style="margin-top:0;font-size:12px;padding-top:3px;color:#757575;padding-bottom:5px;"> Fri 13 May 2009</p>
      </div>
      <div id="footer">
         <p>Kill yourself</p>
      </div>
   </body>
</html>