---
import '/src/styles/global.css';
---

<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Weekly Roundup 9 September 2024 Albums | The Yak Emperor</title>
      <link href="/src/style.css" rel="stylesheet" type="text/css" media="all">
   </head>
   <body class="scroll">
      <div id="container">
         <div id="header">
            <h1 class="title">The Yak Emperor</h1>
         </div>
         <div class="navbar">
            <ul>
               <li><a href="/">HOME</a></li>
               <li>
                  <a href="/bashfultv">📺 THE IDIOT BOX 📺</a>
                  <ul class="subitems">
                     <li><a href="#">Subitem</a></li>
                     <li><a href="#">Subitem</a></li>
                     <li><a href="#">Subitem</a></li>
                  </ul>
               <li>
                  <a href="/music-stuff">MUSIC</a>
                  <ul class="subitems">
                     <li><a href="#">Subitem</a></li>
                     <li><a href="#">Subitem</a></li>
                     <li><a href="#">Subitem</a></li>
                  </ul>
               <li>
                  <a href="/about">ABOUT</a>
               <li>
                  <a href="/contact">CONTACT</a>
            </ul>
         </div>
         <div class="wrapper">
            <div id="left-sidebar">
               <div class="content">
                  <p style="padding-bottom:0;padding-top:5px;font-size:14px;"><b>Harold James</b><br/>
                  <i>Editor-in-chief</i><br/></p>
                  <p style="color:#757575;padding-top:0;font-size:12px;padding-bottom:5px;">Mon 9 Sep 2024 09:32 BST</p>
                  <hr>
                  <hr>
                  <hr>
                  <img src="/src/Images/oldladyrocking.gif" style="width:100px;height:auto;" class="center">
                  <h3 style="margin-bottom:5px;">More where this came from:</h3>
                  <ul class="nobullets" style="font-size:12px;">
                    <li><a href="/music-stuff/pub/90s-2000s-rarities">90s/2000s Rarities</a></li>
                    <li><a href="/music-stuff/pub/classic-grime">Classic Grime Review</a></li>
                    <li><a href="/music-stuff/pub/happy-hardcore">Happy Hardcore</a></li>
                    <li><a href="/music-stuff/pub/novelty-deep-cuts">Novelty Deep Cuts</a></li>
                    <li style="color:black;"><i><b>Solid Gold Chartbusters</b></i></li>
                      <ul style="margin-left:0;">
                        <li><a href=/music-stuff/pub/solid-gold-chartbusters/the-works>SGC: The Works</a></li>
                      </ul>
                    <li><b>Monthly publications:</b>
                      <ul style="margin-left:0;">
                        <li><a href="/music-stuff/pub/acid-april">Acid April</a></li>
                        <li><a href="/music-stuff/pub/novelty-november">Novelty November</a></li>
                      </ul>
                    </li>
                    <li><a href="/music-stuff/pub/bargain-street">Bargain Street</a></li>
                    <li><a href="/music-stuff/pub/hauls">Hauls</a></li>
                    <li><a href="/music-stuff/pub">View all publications</a></li>
                  </ul>
                  <h3 style="margin-bottom:5px;">The Idiot Box</h3>
                  <ul class="nobullets" style="font-size:12px;">
                    <li>Early 2000s deep cuts</li>
                    <li>Reality crap</li>
                    <li><a href="/bashfultv/standup-tapes">Standup tapes</a></li>
                    <li>Oldies</li>
                    <li><a href="/bashfultv/archive">Archive</a></li>
                  </ul>
               </div>
            </div>
            <div class="main-content">
               <div class="content">
                  <h1>Weekly Roundup — 9 September 2024 Albums</h1>
                  <hr>
                  <img src="/src/Images/djesse4.jpg" style="width:150px;height:auto;padding-right:10px;float:left;">
                  <h3 style="margin-left:5px;">Jacob Collier — Djesse Vol. 4 (Hajanga) &nbsp;<img src="/src/Images/ukflag.webp" style="width:35px;height:auto;"></h3> 
                  <p>Serial airplane wanker Jacob Collier delivers... It is a truth universally acknowledged that men become thick as pigshit around women; perhaps that’s why certain, perhaps more observant women think all men are stupid, because from her perspective that’s all men are: stupid. Gawking chuckleheads. As soon as she leaves the room, they go back to their phenomenological excursions on the plummeting stock market and grass-fed beef, replete with wry grins and collegiate tittering. Of course it’s an illusion: Roganite meatheads are just as dumb talking about lipids as they are lipstick. But the mere presence of the fairer sex demeans the conversational mode into one of fads and hot topics and local colour (a far more interesting palette). poop</p>
                  <hr>
                  <img src="/src/Images/capaldus.png" style="width:150px;height:auto;padding-right:10px;float:left;">
                  <h3 style="margin-left:5px;">Lewis Capaldi — Broken by Desire to Be Heavenly Sent (Vertigo, Capital) &nbsp;<img src="/src/Images/ukflag.webp" style="width:35px;height:auto;"></h3>
                  <p>Lewis Capaldi cannot sing. He shouts. He’s a shouter, a [viral] strain of performer who, if the pubs and clubs are to be any indicator, is only growing in popularity with the ageing LADbible crowd. The idea is that to cover for a lack of vocal talent, yelling sharply and suddenly will do a good enough job at eliciting an emotional response from the callower of our population’s radio listeners, or perhaps just devastating their ear-drums enough that they are compelled, or rather bullied, into regarding the precipitous, colic klaxon an impressive feat of vocal strength. It’s the perfect style for lads, larks and louts of all locales. It shares with them that slightly pushy, bullying and yet mawkishly sentimental disposition, that well-‘ard ‘I’d move the world for you, Tracy; that’s the beautiful game; I’m sorry to hear about your nan, she was a great woman’ energy. It feels like being sucker-punched by an out-of-work chav before being brought to and comforted with a can of lukewarm Stella produced from an Adidas bumbag and a pack of fags with a heart-rending love letter written on it. I outgrew that brand of Stockholm Syndrome when I was 14 years old; I’m no longer beguiled by its homely embraces, but it is nonetheless a bittersweet reminder of my happy highways to see it still in action, a bit like seeing the Killers touring or Monster Munch in the shops. It reminds me of where I come from. Certain types will clamour for this obvious comfort like it’s flying off the shelves (and indeed it is). I prefer to gaze wistfully and remember the blows that came with the beer. ⭐ 3/10</p>
               </div>
            </div>
            <div id="right-sidebar">
              <div class="content">
                <h2 style="padding-bottom:10px;text-align:center;">Latest Posts</h2>
                <img src="/src/Images/computers.jpg" style="width:176px;height:auto;" class="center">
                <h3 style="margin:0;margin-top:5px;">Solid Gold Chartbusters #3 — Jedward</h3>
                <p style="margin-top:0;margin-bottom:0;padding-top:5px;padding-bottom:0;font-size:12px;">Bitch Jenkins is on the scene to report the cyber-travesty as metal men make their way...</p>
                <p style="color:#757575;margin-top:0;font-size:12px;padding-top:3px;padding-bottom:5px;"> Fri 13 May 2009</p>
                <img src="/src/Images/flyover.jpg" style="width:176px;height:auto;" class="center">
                <h3 style="margin:0;margin-top:5px;">Water slide boom</h3>
                <p style="margin-top:0;margin-bottom:0;padding-top:5px;padding-bottom:0;font-size:12px;">The bright red, demonic-looking jet flume has terrified intrepid park-goers...</p>
                <p style="color:#757575;margin-top:0;font-size:12px;padding-top:3px;padding-bottom:0;"> Wed 10 Aug 2024</p>
              </div>
            </div>
          </div>
          <br/>
          <br/>
          <br/>
          <h3>Related</h3>
          <img src="/src/Images/computers.jpg" style="width:176px;height:auto;" class="center">
          <h3 style="margin:0;margin-top:5px;">Solid Gold Chartbusters #3 — Jedward</h3>
          <p style="margin-top:0;margin-bottom:0;padding-top:5px;padding-bottom:0;font-size:12px;">Bitch Jenkins is on the scene to report the cyber-travesty as metal men make their way...</p>
          <p style="margin-top:0;font-size:12px;padding-top:3px;color:#757575;padding-bottom:5px;"> Fri 13 May 2009</p>
      </div>
      <div id="footer">
         <p>Kill yourself</p>
      </div>
   </body>
</html>