---
import '/src/styles/global.css';
---

<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>The Incredible Adventures of Professor Branestawm | Archive | The Idiot Box | The Yak Emperor</title>
      <link href="/src/style.css" rel="stylesheet" type="text/css" media="all">
   </head>
   <body class="scroll">
      <div id="container">
         <div id="header">
            <h1 class="title">The Yak Emperor</h1>
         </div>
         <div class="navbar">
            <ul>
               <li><a href="/">HOME</a></li>
               <li>
                  <a href="/bashfultv">📺 THE IDIOT BOX 📺</a>
                  <ul class="subitems">
                     <li><a href="#">Subitem</a></li>
                     <li><a href="#">Subitem</a></li>
                     <li><a href="#">Subitem</a></li>
                  </ul>
               <li>
                  <a href="/music-stuff">MUSIC</a>
                  <ul class="subitems">
                     <li><a href="#">Subitem</a></li>
                     <li><a href="#">Subitem</a></li>
                     <li><a href="#">Subitem</a></li>
                  </ul>
               <li>
                  <a href="/about">ABOUT</a>
               <li>
                  <a href="/contact">CONTACT</a>
            </ul>
         </div>
         <div class="wrapper">
            <div id="left-sidebar">
               <div class="content">
                  <img src="/src/Images/oldladyrocking.gif" style="width:100px;height:auto;" class="center">
                  <h3 style="margin-bottom:5px;">Music</h3>
                  <ul class="nobullets" style="font-size:12px;">
                    <li><a href="/music-stuff/pub/90s-2000s-rarities">90s/2000s Rarities</a></li>
                    <li><a href="/music-stuff/pub/classic-grime">Classic Grime Review</a></li>
                    <li><a href="/music-stuff/pub/happy-hardcore">Happy Hardcore</a></li>
                    <li><a href="/music-stuff/pub/novelty-deep-cuts">Novelty Deep Cuts</a></li>
                    <li><a href="/music-stuff/pub/solid-gold-chartbusters">Solid Gold Chartbusters</a></li>
                      <ul style="margin-left:0;">
                        <li><a href=/music-stuff/pub/solid-gold-chartbusters/the-works>SGC: The Works</a></li>
                      </ul>
                    <li><b>Monthly publications:</b>
                      <ul style="margin-left:0;">
                        <li><a href="/music-stuff/pub/acid-april">Acid April</a></li>
                        <li><a href="/music-stuff/pub/novelty-november">Novelty November</a></li>
                      </ul>
                    </li>
                    <li><a href="/music-stuff/pub/bargain-street">Bargain Street</a></li>
                    <li><a href="/music-stuff/pub/hauls">Hauls</a></li>
                    <li><a href="/music-stuff/pub">View all publications</a></li>
                  </ul>
                  <h3 style="margin-bottom:5px;">The Idiot Box</h3>
                  <ul class="nobullets" style="font-size:12px;">
                    <li>Early 2000s deep cuts</li>
                    <li>Reality crap</li>
                    <li><a href="/bashfultv/standup-tapes">Standup tapes</a></li>
                    <li>Oldies</li>
                    <li><a href="/bashfultv/archive">Archive</a></li>
                  </ul>
               </div>
            </div>
            <div class="main-content">
               <div class="content">
                  <h1>Letterboxd Archive</h1>
                  <hr>
                  <img src="/src/Images/hilldo.jpg" style="width:150px;height:auto;float:left;padding-right:10px;">
                  <h3 style="padding-bottom:0;">The Incredible Adventures of Professor Branestawm (2014)</h3>
                  <p style="color:grey;">Reviewed 29 Apr 2024</p>
                  <p>"Get that thing out of here! You're disrupting the meeting and damaging that very valuable table!"</p>
                  <p>Despite being superficially redolent of the sleepy English parishes we all know and love, this film exists in its own little universe where the laws of physics, chemistry, biology and all other branches of science accord entirely to the whims of the script and the Professor himself, who is at once completely daft and impossibly omniscient. So either Branestawm is a Gnostic archon sent to Earth to instigate the great apocalypse, or it's a whimsical kids' movie made for festive-season television.</p>
                  <p>This is one of those gentle family comedies that tend to be short on genuine laughs, but which sometimes might induce the odd impassive titter from a half-watching audience. The only part that made me properly laugh was when Branestawm's tea-making device ejaculated clotted cream all over a bewildered David Mitchell. As for the film itself? Well...</p>
                  <p>There is a half-baked feminist angle in here, which admittedly resolves in quite a lovely way, and it's really the only thing holding the film together besides the wafer-thin plot which sees Ben Miller's baddie character draw up a scheme to build a munitions factory in the middle of town. His plan falls apart around the halfway mark, which is an odd creative choice to say the least, the focus thereafter shifting toward David Mitchell's character's attempt at shutting Branestawm's operation down. The villains get their comeuppance in the end and everyone is happy. It's all a very nice and heartwarming affair, and borders on being so inoffensive that it hardly even warrants a rating on here.</p>
                  <p>In terms of cast performances, of which the Professor is preeminent, Harry Hill's usual "sleazy television host crossed with a pantomime clown" schtick doesn't overwhelm the role he's given here, which he plays in a suitably zany but also well-tempered manner. Ben Miller is great in anything he's in, whilst David Mitchell plays a convincing municipal jobsworth. The little girl, Connie, is a child actress, so you know what to expect really.</p>
                  <p>The whole film is overlit and gaudy, the direction workmanlike with the occasional awkward shot, especially those involving multiple characters talking. The special effects however are surprisingly competent for such an apparently meagre production.</p>
                  <p>It's all a lot of harmless fun, a complete middle-of-the-road saga from beginning to end. I doubt this is on anyone's watchlist but like so many of these sorts of films, it's perfect for an overcast Sunday afternoon that you would otherwise have spent twiddling your thumbs.</p>
                  <p>⭐ 5/10</p>
               </div>
            </div>
            <div id="right-sidebar">
              <div class="content">
                <h2 style="padding-bottom:10px;text-align:center;">Latest Posts</h2>
                <img src="/src/Images/computers.jpg" style="width:176px;height:auto;" class="center">
                <h3 style="margin:0;margin-top:5px;">Solid Gold Chartbusters #3 — Jedward</h3>
                <p style="margin-top:0;margin-bottom:0;padding-top:5px;padding-bottom:0;font-size:12px;">Bitch Jenkins is on the scene to report the cyber-travesty as metal men make their way...</p>
                <p style="color:#757575;margin-top:0;font-size:12px;padding-top:3px;padding-bottom:5px;"> Fri 13 May 2009</p>
                <img src="/src/Images/flyover.jpg" style="width:176px;height:auto;" class="center">
                <h3 style="margin:0;margin-top:5px;">Water slide boom</h3>
                <p style="margin-top:0;margin-bottom:0;padding-top:5px;padding-bottom:0;font-size:12px;">The bright red, demonic-looking jet flume has terrified intrepid park-goers...</p>
                <p style="color:#757575;margin-top:0;font-size:12px;padding-top:3px;padding-bottom:0;"> Wed 10 Aug 2024</p>
              </div>
            </div>
          </div>
          <br/>
          <br/>
          <br/>
          <img src="/src/Images/computers.jpg" style="width:176px;height:auto;" class="center">
          <h3 style="margin:0;margin-top:5px;">Solid Gold Chartbusters #3 — Jedward</h3>
          <p style="margin-top:0;margin-bottom:0;padding-top:5px;padding-bottom:0;font-size:12px;">Bitch Jenkins is on the scene to report the cyber-travesty as metal men make their way...</p>
          <p style="margin-top:0;font-size:12px;padding-top:3px;color:#757575;padding-bottom:5px;"> Fri 13 May 2009</p>
      </div>
      <div id="footer">
         <p>Kill yourself</p>
      </div>
   </body>
</html>